.Top-Heading h1{
  display: inline-block;
  border: 1px solid black;
  padding: 20px;
  
}

.Top-Heading{
  margin-left: 34px;
}


@media screen and (max-width : 500px) {

  .Top-Heading h1 {
    font-size: 10px;
    width: 50%;
    margin-left: 40px;
  }
}


@media screen and (max-width : 350px) {

  .Top-Heading h1 {
    font-size: 8px;
    width: 50%;
    
  }
}
